html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  cursor: url("../public/holographic_pixel_cursor.png"), auto;
}

a:hover,
button:hover {
  cursor: url("../public/holographic_pixel_pointer.png"), pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.body-title {
  font-size: 34px;
  font-weight: bold;
  color: #d39bff;
  margin-bottom: 32px;
  font-family: system-ui;
}

.body-title.secondary {
  color: #490081 !important;
}

.body-text {
  font-weight: 400 !important;
  font-size: 18px;
  color: white;
  font-family: system-ui;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Pilowlava";
  src: url("/Pilowlava-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
